PORT=3000
DB_NAME=unisphere
DB_USER=root
DB_PASS=
DB_HOST=localhost
JWT_SECRET=replace-with-a-long-random-secret
OPENAI_API_KEY=
VAPID_PUBLIC_KEY=BMuel_-PCxr9AExrHFVWWO8d_m7Tq5EvxZHtscjZRMgOE1EbApIzKlYbN7rws5EIn5j__ujAE38vzCmg8r99kys
VAPID_PRIVATE_KEY=Ssgph1PP6OaW_EvpXrZxyNMlyiWXRxn3D9N0zjUoTRU
VAPID_SUBJECT=mailto:admin@guardianband.local